<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas capturadas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div id="container">
        <table class="table table-striped table-dark" id="maintable">
            <thead>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Localizacao</th>
                <th scope="col">Data</th>
            </thead>
            {% for account in accounts %}
                <tr>
                    <td>{{ accounts[0] }}</td>
                    <td>{{ accounts[1] }}</td>
                    <td>{{ accounts[2] }}</td>
                    <td>{{ accounts[3] }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>